[2022-08-02 09:52] yeyanan93 commented on #3
I think the  /usr/include/aarch64-linux-gnu/cudnn_adv_infer_v8.h  file does not exist in reality.

Although ls can show it, but I can not use "$ cat /usr/include/aarch64-linux-gnu/cudnn_adv_infer_v8.h" to open it.

[2022-08-02 12:25] dusty-nv commented on #3
Have you set the default docker runtime to nvidia?

https://github.com/dusty-nv/jetson-containers#docker-default-runtime

This will mount those files into the container during `docker build` operations.

[2022-08-03 13:26] asimonov opened #176 "l4t-base Dockerfile for jetpack5"
@dusty-nv ,

In the base container here (https://github.com/dusty-nv/jetson-containers/blob/master/Dockerfile.jetpack) you reference BASE_IMAGE=nvcr.io/nvidia/l4t-base:r34.1.

This image is on NGC here: https://catalog.ngc.nvidia.com/orgs/nvidia/containers/l4t-base

Which says:
"Starting with the r32.4.3 release, the Dockerfile for the l4t-base docker image is also being provided. This can be acce

[2022-08-03 13:36] dusty-nv commented on #176
Hi @asimonov, let me check with the team that maintains the l4t-base container

[2022-08-04 02:53] RasoulZamani opened #177 "Can't find docker image for L4T 32.7.2"
Hi, Im using Jetson TX2 with L4t:32.7.2
I want to run docker “l4t-ml”

As you suggest I run : ./scripts/docker_build_ml.sh all
but I get error :

Sending build context to Docker daemon 185.9kB
Step 1/26 : ARG BASE_IMAGE=[nvcr.io/nvidia/l4t-base:r32.4.4](http://nvcr.io/nvidia/l4t-base:r32.4.4)
Step 2/26 : FROM ${BASE_IMAGE}
manifest for [nvcr.io/nvidia/l4t-base:r32.7.2](http://nvcr.io/nvidia/l4t-ba

[2022-08-04 12:22] dusty-nv commented on #176
Hi @asimonov, the l4t-base dockerfile will be updated in the gitlab on the next JetPack release

[2022-08-04 16:14] asimonov commented on #176
@dusty-nv thanks for checking!

[2022-08-07 16:50] hongyeecheah opened #178 "install ros apt pkg on jetson containers"
Hello,
I'm using jetson Nano with this image dustynv/ros:foxy-ros-base-l4t-r34.1.1
however when running this in the terminal
`apt install ros-foxy-cartographer ros-foxy-cartographer-ros `
I am not able to get to show the cartographer pkg
`source /opt/ros/foxy/install/setup.bash`
`ros2 pkg list |grep carto`

[2022-08-09 23:11] chull434 opened #179 "[Jetpack 4.4.1 - L4T 32.4.4] Import cv2 fails "ImportError: /usr/lib/aarch64-linux-gnu/libcublas.so.10: file too short""
Hi,

I previously had built a custom l4t-ml:r32.4.4-py3 with OpenCV 4.4.0 and Cuda. However now on a fresh install I keep getting the error below when I import cv2. Can't remember for the life of me what I did if anything or if it just worked previously, any pointers to resolver this greatly appreciated

[code]

[2022-08-09 23:14] chull434 commented on #179
From other similar issues, my `ls /etc/nvidia-container-runtime/host-files-for-container.d/` returns the below
`cuda.csv  cudnn.csv  l4t.csv  tensorrt.csv  visionworks.csv`

Am I missing `opencv.csv` possible? where does one get that from?

[2022-08-09 23:56] dusty-nv commented on #179
Hi @chull434, you don't need an `opencv.csv`, because OpenCV is installed inside the container itself.   However CUDA gets mounted in (when `--runtime nvidia` is used), and the `/usr/lib/aarch64-linux-gnu/libcublas.so.10: file too short` error indicates that mounting isn't working properly.

Are you starting the container with `--runtime nvidia`?

[2022-08-10 00:01] chull434 commented on #179
Hi, I am yes, with this fix applied  https://github.com/dusty-nv/jetson-containers/issues/108#issuecomment-995090398

[2022-08-10 00:08] dusty-nv commented on #179
Hmm, okay.  Is your fresh install of JetPack-L4T also on L4T r32.4.4?

If so, are you able to run this test command in l4t-base container:

[code]

If it fails to `import tensorrt` due to some CUDA library issue, then it would seem that your nvidia runtime is still messed up, and I would recommend re-installing those packages.  You should be able to find those with `apt-cache search nvidia-contain

[2022-08-10 00:24] chull434 commented on #179
yeap running same version of jetpacl

`nvcr.io/nvidia/l4t-base:r32.4.4` just does no module founds?
`nvcr.io/nvidia/l4t-ml:r32.4.4-py3` tensorrt and pycuda import not errors
`customer opencv and cuda /l4t-ml:r32.4.4-py3` tensorrt and pycuda import not errors but cv2 still gives back `ImportError: /usr/lib/aarch64-linux-gnu/libcublas.so.10: file too short`

[2022-08-10 10:04] chull434 commented on #179
So been trying to retrace my steps and rebuild the custom container to see if its still possible on this new install, getting the below error when it trys to import torch, not sure if this highlights a possible root cause of are issue or its just a different issue

[code]

[2022-08-10 12:44] dusty-nv commented on #179
Typically this error occurs when either (a) the `--runtime nvidia` mounting isn't working properly or (b) you are installing a PyTorch wheel that's incompatible with your version of JetPack (i.e. has a different version of CUDA)

Can you confirm your L4T version again with `cat /etc/nv_tegra_release` ?
Can you find `libcurand.so.10` under `/usr/local/cuda/lib64` ?

[2022-08-10 13:04] chull434 commented on #179
`cat /etc/nv_tegra_release`
`# R32 (release), REVISION: 4.4, GCID: 23942405, BOARD: t186ref, EABI: aarch64, DATE: Fri Oct 16 19:37:08 UTC 2020`

`/usr/local/cuda/lib64$ ls -d libcurand*`
`libcurand.so  libcurand.so.10  libcurand.so.10.1.2.89  libcurand_static.a`

[2022-08-10 13:56] dusty-nv commented on #179
Hmm...if you run `ls -ll /usr/local/cuda/lib64/libcurand*` inside the container, are those files valid?

It seems that something is wrong with your NVIDIA Container Runtime.

[2022-08-10 14:11] chull434 commented on #179
hmmmm

`ls -ll /usr/local/cuda/lib64/libcurand*`
`ls: cannot access '/usr/local/cuda/lib64/libcurand*': No such file or directory`

think i might be missing a number of files only 2 in there?

`ls /usr/local/cuda/lib64`
`libcudadevrt.a  libcudart_static.a  stubs`

[2022-08-10 14:14] dusty-nv commented on #179
ok yea, CUDA is not being mounted in.  And if you already started the container with `--runtime nvidia`, there is a problem, and I would recommend re-installing the `nvidia-container*` packages or reflashing your device

[2022-08-10 14:45] chull434 commented on #179
Yeap, I think this install is fubar, just getting the below now, time to reflash I think unless theres a way to fix this?

[code]

[2022-08-10 18:03] dusty-nv commented on #179
Ahh okay, yes I would reflash

[2022-08-10 18:55] dusty-nv commented on #147
https://github.com/dusty-nv/jetson-containers/issues/160

[2022-08-10 18:55] #147 closed

[2022-08-14 17:13] Tbarkin121 opened #181 "ROS2 foxy build failing at rosidl_runtime_cpp"
I've been trying to build foxy and I've run into a build error with rosidl_runtime_cpp

![image](https://user-images.githubusercontent.com/14204841/184547626-47a28d8b-a25f-435b-a7a1-c213874b4601.png)

I've started with a fresh SD card flashed with :
NVIDIA Jetson Nano (Developer Kit Version)
 L4T 32.7.1 [ JetPack UNKNOWN ]
   Ubuntu 18.04.6 LTS
   Kernel Version: 4.9.253-tegra

Anyone know of a wo

[2022-08-16 11:56] tonynajjar commented on #181
I'm getting a similar issue with another package:

[code]

I only started to have it recently so I'm suspecting this [PR](https://github.com/ament/ament_cmake/pull/398/files) to be the cause but I'm not sure

[2022-08-16 15:32] tonynajjar commented on #181
I think I found the issue, basically a version mismatch between ament_cmake and cmake. The images install the latest cmake version (3.24 currently) and ament_cmake just got a [fix](rosinstall_generator) to support cmake 3.24. It'll be a while until the next sync to get that fix.
@dusty-nv I would propose to downgrade cmake, what do you think? I can submit a PR

[2022-08-16 15:53] dusty-nv commented on #181
Thanks Tony, sure that sounds worth a try to downgrade cmake
________________________________
From: Tony Najjar ***@***.***>
Sent: Tuesday, August 16, 2022 11:32:58 AM
To: dusty-nv/jetson-containers ***@***.***>
Cc: Dustin Franklin ***@***.***>; Mention ***@***.***>
Subject: Re: [dusty-nv/jetson-containers] ROS2 foxy build failing at rosidl_runtime_cpp (Issue #181)

I think I found the issue, basi

[2022-08-16 17:06] tonynajjar commented on #181
I'm facing a blocker while trying to test. I can't even build Dockerfile.ros.galactic on master.

[code]

[2022-08-16 19:03] dusty-nv commented on #181
You could comment that out to try and proceed - what is the actual error from it?

[2022-08-16 19:05] tonynajjar commented on #181
I tried to comment it out but opencv is needed afterwards for some packages, so I get more errors. I can show you the actual error tomorrow. You can also try to do a quick build so we can make sure it's not some local issue I got.

[2022-08-16 19:06] dusty-nv commented on #181
I am trying to build Foxy container right now for JetPack 5.0.2 / L4T R35.1.0, and didn't have any issue with OpenCV.

However, I did get a similar cmake error to you, so will look into downgrading cmake as well:

[code]

[2022-08-16 19:45] tonynajjar commented on #181
Here is the opencv error I'm getting:

[code]

[2022-08-16 19:52] dusty-nv commented on #181
Hmm I have not seen that...which JetPack/L4T are you building on?

If you remove this `--skip-keys` line, you should also be able to comment out this OpenCV RUN command and workaround it that way for now.

[2022-08-16 19:57] tonynajjar commented on #181
Sorry I just realized that I completely skipped the Readme and assumed I can just build with docker build. I'll follow the instructions and report back

[2022-08-16 20:41] dusty-nv commented on #181
Ah okay - yea, the build scripts dynamically set a bunch of the docker args based on what JetPack-L4T version you are on (including the base image, OpenCV binary package, ect)

[2022-08-16 23:10] dusty-nv commented on #181
OK, got Foxy building again by downgrading cmake to version 3.23.3 and committed the fix in https://github.com/dusty-nv/jetson-containers/commit/d5e9d3aab9341ba4b66d01663256956a5b50d9bc

Will try the same thing with Galactic next

[2022-08-17 01:16] dusty-nv commented on #181
OK, Galactic built successfully with a similar patch:  https://github.com/dusty-nv/jetson-containers/commit/a7a878e6f3995dbc25acd710127156b4fae5a2aa

[2022-08-17 08:00] tonynajjar commented on #181
Thanks, I was also preparing a fix. My fix consisted mainly of:

`apt-get install cmake-data=3.23.2-0kitware1ubuntu18.04.1 cmake=3.23.2-0kitware1ubuntu18.04.1 && apt-mark hold cmake cmake-data`

With your fix are we sure that cmake can't be accidentally upgrade with other packages?

[2022-08-17 10:23] tonynajjar commented on #181
https://github.com/dusty-nv/jetson-containers/pull/183

[2022-08-17 12:34] dusty-nv commented on #181
Unfortunately this doesn't work when building the JetPack 5.x containers because those use Ubuntu 20.04 and the package names are different...

[2022-08-17 16:02] ParadoxRobotics opened #184 "Jetson Nano container build failed with ROS2 Galactic + Pytorch"
Hi,

I'm currently using a ROS2 Galactic container for my robotics project on my Jetson Nano 4Gb and I want it to add the machine learning framework Pytorch to it.
Unfortunately when build the container with ROS2 Galactic and Pytorch, I ended up in an OCI Runtime fail :
[code]

Do you have any Idea why this error occur ?

Best regards !

Here is the full output :
[code]

[2022-08-17 16:18] dusty-nv commented on #184
Hi @ParadoxRobotics, you can find the fixes for this here:

* https://github.com/dusty-nv/jetson-containers/issues/108#issuecomment-962597353
* https://github.com/dusty-nv/jetson-containers/issues/108#issuecomment-995090398

If you still can't get it to work, then I would just re-flash the device and not do the `apt-get upgrade`

BTW, pre-built Galactic+PyTorch container images are on DockerHub he

[2022-08-17 19:09] ParadoxRobotics commented on #184
Thanks for your answer !
I will look at the pre-build on Dockerhub

[2022-08-17 19:12] dusty-nv commented on #181
Closing this issue out with the updated PR https://github.com/dusty-nv/jetson-containers/pull/183

Thanks to @tonynajjar for all the help!

[2022-08-17 19:12] #181 closed

[2022-08-17 19:57] rgov commented on #159
@chris-volley What made you decide to close this issue? Did you find a way to resolve the issue?

I am seeing the same problem on a newly flashed Jetson Nano running L4T r32.7.1, the latest Docker, `nvidia-docker2`, etc. Can we have the issue re-opened?

Neither `nvcr.io/nvidia/l4t-base:r32.7.1` nor `nvcr.io/nvidia/l4t-ml:r32.7.1-py3` have `/usr/local/cuda-10.2/targets/aarch64-linux/lib`. There is

[2022-08-17 20:06] chris-volley commented on #159
@rgov

Yeah I was able to get it to work, suppose I should of included how,  so the nvidia runtime loads those into the image at runtime, or building if you have the default runtime set up in the config.

What I had wrong was for space concerns I had moved cuda install on the host to another partition. It wasn't straightforward to find but, I had to update the
/etc/nvidia-container-runtime/host-fi

[2022-08-17 20:36] rgov commented on #159
Thanks! It gives me a pointer to something else being wrong with the container runtime. I filed a new issue here: https://github.com/NVIDIA/nvidia-container-runtime/issues/173

[2022-08-18 08:56] javadan commented on #156
I'm also trying to get my hands on a pre-built Python 3.7 or 3.8 built version of 4.6/.1
Subscribing to the thread in case someone replies.

[2022-08-18 11:50] SkalskiP commented on #156
Hi @javadan, I actually convinced CEO of the company I work for to open source our Docker image as well as some demo app to show you how we did it. I'm not really sure when that will happen, but I'll make sure to throw some info into this issue.

[2022-08-18 12:34] androiddrew opened #185 "Jetpack 5 ROS2 Humble SLAM support?"
I just upgraded L4T 35.1.0 and I am looking through the code of [the ros build script](https://github.com/dusty-nv/jetson-containers/blob/master/scripts/docker_build_ros.sh#L189) and see that there are hardcoded checks that don't include humble distro for SLAM.

Will there be support coming for SLAM on humble? Is there a workaround I can use in meantime?

btws @dusty-nv thank you for the work you

[2022-08-18 12:37] javadan commented on #156
That would be cool.  I don't mind leaving it building it the Dockerfile's tested.  I just don't want to get stuck into the inevitable debugging if I can avoid it.

I'm getting super slow inference running RealSense through TF2 MobileNetSSDv2, streaming as JPEG over HTTP, on the Nano, (~2 FPS locally, ~0.25 FPS over the LAN) and all the instructions I've found for converting TF2 models to TensorRT

[2022-08-18 12:40] dusty-nv commented on #185
Hi @androiddrew, I haven't been building the SLAM dockerfile as it is too much to maintain with all the third-party libraries and dependencies.  I will probably end up removing it.  Instead I suggest using it as an example to try and install those packages that you specifically want.

[2022-08-18 13:27] nakai-omer opened #186 "Getting 401 unauthorized when trying to pull images"
Tried a couple different images, all are returning `unauthorized: authentication required`

Via `sudo ./scripts/docker_build_ros.sh --distro humble`:
[code]

Manual pull:
[code]

Even trying to access the url manually in the browser causes a 401 error.

[2022-08-18 13:37] dusty-nv commented on #186
Sorry about that @nakai-omer, just switched these to the public URLs in https://github.com/dusty-nv/jetson-containers/commit/0b6c72e0718f34f8f5ee53bf6e2a548809ac3c80

Please try pulling the latest from jetson-containers repo and try again

[2022-08-18 13:38] nakai-omer commented on #186
wow you are the most amazing repo owner/maintainer ever!

[2022-08-18 13:38] #186 closed

[2022-08-18 13:39] dusty-nv commented on #186
Haha thanks, happy to help!  👍

[2022-08-24 06:10] alma11 commented on #97
Dusty, I am having the same issue---I have RxTx lines tied between Arduino Due and Jetson NX.  I successfully send data back and forth over serial (using the Jetsons ttyTHS0 line) when NOT in the docker. I have successfully run the docker to perform object detection. That said, when I try to run the Serial program from the docker, and I load the docker using the following command (using the hint y

[2022-08-24 14:32] dusty-nv commented on #97
Is it actually in `/dev` *inside* the container, or only outside?

If you are using my `scripts/docker_run.sh` script, it doesn't support a `--device` flag on the command-line - you will need to edit it and manually add it to the `sudo docker run` command near the bottom of the script.

[2022-08-24 18:01] frankvp11 opened #187 "TensorRT?"
Hi sorry if this question is kinda useless, but do all the containers ie (l4t-ml the pytorch and tensorflow ones) have tensorrt inside them? Also im kinda struggling to get the containers working the way I would like them to. How can I copy a couple of files from the host (the device) into the container, and do you happen to have a script that can install the TensorRT-OSS into it aswell?

Also, wh

[2022-08-24 18:09] dusty-nv commented on #187
Hi @frankvp11, on JetPack 4.x TensorRT automatically gets mounted into the containers from the host device when `--runtime nvidia` is used

On JetPack 5.x, TensorRT is installed inside the ML containers themselves

The easiest way to get files into the container is just to mount the directories with the `--volume` option

Unless you need to customize the ML based containers, these containers are a

[2022-08-24 18:18] frankvp11 commented on #187
Ok that makes sense. However, @dusty-nv when I run sudo docker run -it --runtime nvidia nvcr.io/nvidia/l4t-ml:r32.7.1-py3 and I try to run /trtexec command I get  the error that:
error while loading shared libraries: libnvinfer_plugin.so.8: cannot open shared object file: No such file or directory

[2022-08-24 18:21] dusty-nv commented on #187
Can you confirm that you have the libnvinfer libraries present both outside and inside the container?

[code]

[2022-08-24 18:22] frankvp11 commented on #187
With that being said- (moreso a docker question now) but do you know how I can basically take all my host device installations -ie TensorRT, Cuda10.2, cudnn, python and anything else that comes with the Jetpack 4.6.2 and use that as kinda of a base image or has those all installed exactly as it would be in the host? and then create kinda a simple dockerfile to copy a couple files and install a cou

[2022-08-24 18:23] frankvp11 commented on #187
This is on the host-
ecoation@ecoation-desktop:/media/ecoation/primary3/jetson-containers$ ls -ll /usr/lib/aarch64-linux-gnu/libnvinfer*
-rw-r--r-- 1 root root  30228664 Nov 17  2021 /usr/lib/aarch64-linux-gnu/libnvinfer_builder_resource.so.8.2.1
lrwxrwxrwx 1 root root        26 Nov 17  2021 /usr/lib/aarch64-linux-gnu/libnvinfer_plugin.so -> libnvinfer_plugin.so.8.2.1
lrwxrwxrwx 1 root root

[2022-08-24 18:26] dusty-nv commented on #187
On JetPack 4.x, l4t-base should already include the JetPack packages like CUDA/cuDNN/TensorRT/ect when `--runtime nvidia` is used

[2022-08-24 18:27] frankvp11 commented on #187
Hmm thats strange because TensorRT is still being tricky with me - referring to the issue mentioned above

[2022-08-24 18:29] dusty-nv commented on #187
OK, I think I see what is happening...at some point it appears that you installed a newer TRT plugins library `libnvinfer_plugin.so.8.4.3`

However this newer version isn't in `/etc/nvidia-container-runtime/host-files-for-container.d/tensorrt.csv`, because it doesn't come with JetPack

Try changing this line from `/etc/nvidia-container-runtime/host-files-for-container.d/tensorrt.csv`

`lib, /usr/l

[2022-08-24 18:30] frankvp11 commented on #187
Yes, I followed the instructions from https://github.com/NVIDIA-AI-IOT/deepstream_tao_apps/tree/master/TRT-OSS/Jetson
so that I could have the updated tensorrt OSS. I will try running the container again in hopes of it succeeding. Give me a second

[2022-08-24 18:33] frankvp11 commented on #187
Ok - It worked, however let me play around with it some more to see if it *truly* works. Im going to try and mount the volume that I would like and test if it creates an engine

[2022-08-24 18:36] frankvp11 commented on #187
^ in reference to the above statement- trtexec worked. I have yet to convert, but thanks in advance

[2022-08-24 19:13] frankvp11 commented on #187
@dusty-nv Thank you so much- It was able to convert the onnx into engine.

[2022-08-24 19:13] #187 closed

[2022-08-25 03:17] alma11 commented on #97
Dusty, to start---thank you for the helpful hint and the fast reply. I was able to resolve this per your advice. Just to be complete for someone else who might come along and have the same question---these were my steps:

1. Navigate to the docker directory located in the jetson-inference folder (might be different directory for someone else).

2. In the docker folder, you will see a _run.sh_ file

[2022-08-25 03:21] alma11 commented on #97
Dusty-nv, I do have one more question which relates to my step '7' above. Every time I run the docker, it seems to forget I have previously installed pyserial. Meaning I have to run:

Every time exit and restart docker. Do you know how to make it such that installed libraries are saved within docker upon exit and entry?

[2022-08-25 15:44] dusty-nv commented on #97
Hi @alma11, glad you were able to get your serial devices working - to save persistent changes to the container, you can use the [`docker commit`](https://docs.docker.com/engine/reference/commandline/commit/) command

[2022-08-29 14:15] nakai-omer opened #188 "Can't install ROS2 Humble dependencies"
Hi,

We are using the latest `dustynv/ros:humble-ros-base-l4t-r35.1.0` docker image as our base layer.
When trying to install dependencies using rosdep we get the following error:
[code]
We tried following the suggestion in this comment: https://github.com/dusty-nv/jetson-containers/issues/114#issuecomment-995372522 but it didn't help.

If we run rosdep install with `--os=ubuntu:jammy`, then we ge

[2022-08-29 14:21] dusty-nv commented on #188
Hi @nakai-omer, I think what's going on is that the Humble debians packages in apt are for 22.04, but JetPack 5.0 is based on 20.04, so you may need to build those packages from source as opposed to trying to use rosdep to install them from debs.

Here is an example of how I install additional ROS packages from source on top of a ROS distro in container:
https://github.com/dusty-nv/jetbot_ros/blob

[2022-08-29 14:38] nakai-omer commented on #188
@dusty-nv First of all, thanks for such quick responses all the time.
It is going too hard to have to build every package from source, as all packages for humble are built for 22.04, as this is the humble's required OS. So, it means every single package we use, we will have to build from source.
Are there any plans to support Ubuntu 22 on Jetpack anytime soon?

[2022-08-29 15:10] dusty-nv commented on #188
Ubuntu 22 in JetPack is on the future horizon, but I can't give a definitive timeline - I think next year sometime.

Also Humble doesn't "require" Ubuntu 22, but it's a tier-1 OS, meaning that the packages are already built for it:   https://docs.ros.org/en/foxy/Releases/Release-Humble-Hawksbill.html#supported-platforms
Ubuntu 20.04 is tier-3

If you try putting the package(s) that you want into `

[2022-08-29 19:06] nakai-omer commented on #188
Ok i will try that thanks a lot

[2022-08-30 18:00] SkalskiP opened #190 "`./scripts/docker_build_jetpack.sh` fail"
Hi, when I'm running `./scripts/docker_build_jetpack.sh` on my Jetson Xavier it fails during the execution of this part of `Dockerfile.jetpack`:

[code]

The error message that I'm getting is:

[code]

@dusty-nv or anybody else, do you maybe happen to know why is that?

[2022-08-30 20:06] dusty-nv commented on #190
Hi, you shouldn't need this anymore, instead please use l4t-jetpack container from NGC.  I should remove it from this repo.
________________________________
From: Piotr Skalski ***@***.***>
Sent: Tuesday, August 30, 2022 2:00:56 PM
To: dusty-nv/jetson-containers ***@***.***>
Cc: Dustin Franklin ***@***.***>; Mention ***@***.***>
Subject: [dusty-nv/jetson-containers] `./scripts/docker_build_jetpack

[2022-08-31 07:43] SkalskiP commented on #190
@dusty-nv do you mean this container: https://catalog.ngc.nvidia.com/orgs/nvidia/containers/l4t-jetpack? It only supports JetPack `5.x`, at least judging by available tags. I'm looking for a base image containing TensorRT that I could use with JetPack `4.5.0`.

[2022-08-31 12:58] dusty-nv commented on #190
You should use `l4t-base` container with `--runtime nvidia` and TensorRT will automatically be mounted in from the host device.
The "fat containers" which have CUDA/cuDNN/TensorRT installed inside the containers themselves only started with JetPack 5.x

BTW I've removed the jetpack.dockerfile from jetson-containers repo in commit https://github.com/dusty-nv/jetson-containers/commit/39496f8eba51aba

[2022-08-31 15:32] SkalskiP commented on #190
Okay, I'll definitely try. I have a question, however. My goal is to make TensorRT accessible through python 3.8 installed in virtual env inside docker image. IS that possible?

[2022-08-31 15:41] dusty-nv commented on #190
I think you would have to rebuilt the TensorRT Python bindings for Python 3.8 - i haven't tried this.  I think they are on the TensorRT github though

[2022-08-31 15:56] SkalskiP commented on #190
Is that what you mean https://github.com/NVIDIA/TensorRT/tree/main/python?

[2022-08-31 16:37] dusty-nv commented on #190
Yes, I believe that's it

[2022-08-31 20:25] SkalskiP commented on #190
Thanks I'll give it a try!

[2022-09-01 17:08] nakai-omer commented on #188
@dusty-nv Unfortunately, rosinstall_generator also fails to recognize the packages:
[code]

This is our RUN command, which generically collects all the deps using rosdep:
[code]

[2022-09-01 17:15] #188 closed

[2022-09-05 00:21] arpaterson opened #191 "Unable to reproduce opencv build"
I am unable to build OpenCV4.5.4 on a fresh JP5.0.2 image (AGX Orin Dev kit)
Not in a container.

I have the packages from `scripts/opencv_install_deps.sh` installed, and I'm using the same flags as in `dockerfile.opencv`.

It will not compile with opengl enabled due to
`libopencv_core.so.4.5.4: undefined reference to 'glXGetProcAddressARB'`
I know that this particular scenario is not strictly rel

[2022-09-05 10:13] arpaterson commented on #191
opencv 4.5.0 builds with those flags (`-D WITH_OPENGL=ON`), but the GUI configuration shows
[code]

[2022-09-05 13:00] dusty-nv commented on #191
Hi @arpaterson, here are scripts that build OpenCV outside of container:  https://github.com/mdegans/nano_build_opencv/

[2022-09-05 14:16] nakai-omer commented on #188
Posting what worked for us, just in case it will help someone:
[code]

The `apt-get update || true ` is due to: https://forums.developer.nvidia.com/t/packages-are-not-synced/226954
but you can probably remove the `|| true` in the near future.

[2022-09-07 12:26] nakai-omer commented on #191
@dusty-nv Running the script from https://github.com/mdegans/nano_build_opencv/, fails with the following error:
[code]

[2022-09-08 17:25] asimonov commented on #176
@dusty-nv

I am afraid the L4T base docker repos were not updated with 5.0.2 release.

Can you ask the team to update?

[2022-09-08 17:28] dusty-nv commented on #176
@asimonov this is the merge request for it:   https://gitlab.com/nvidia/container-images/l4t-base/-/merge_requests/4

I will check on the status, sorry about that.

[2022-09-15 16:43] harel314 opened #192 "No RGB frames with realsense2 D435 inside the container"
Hi,
I am trying to run 2 realsense cameras D435 and D435i with ros2 foxy (in order to implement shared memory with zero copy), and
I am using the ```ros:foxy-ros-base-l4t-r35.1.0``` container, with:

ubuntu version 20.04.5 LTS
L4T version Linux vision-server 4.9.253-tegra
Build cuda_11.4.r11.4

I builded from source the realsense2 2.48.0 since it's the same version i use outside the container.

I

[2022-09-15 21:32] dusty-nv commented on #192
Hi @harel314, sorry I don't have experience with RealSense cameras so I'm not sure what the issue is.

[2022-09-16 07:08] dingjingzhen opened #193 "Can you upgrade tensorrt directly in jetson, how to upgrade tensorrt in arm platform?"
Can you upgrade tensorrt directly in jetson, how to upgrade tensorrt in arm platform?

[2022-09-16 09:53] javadan commented on #192
@harel314
Two realsense cameras might be more complicated than one... I'd unplug one of them for now.

I've managed to get realsense D455 with RGB and depth working inside L4T containers.  You can try with --privileged in the docker run command, to rule out some permission issues.

It looks like you're running both a ROS realsense camera node, and realsense-viewer at the same time?

I suspect both

[2022-09-16 13:32] dusty-nv commented on #193
@dingjingzhen on Jetson, it isn't supported to upgrade the version of TensorRT outside of JetPack version.  This is because it has dependencies on the version of CUDA, cuDNN, and the L4T kernel drivers.

[2022-09-18 12:16] harel314 commented on #192
Thank you both for your comments ! It's working now :D

I managed to pass over it by building the camera from source WITHOUT using ```-DBUILD_WITH_CUDA=true```

For now I have two cameras working both with ros2 foxy wrapper, so it's good.

[2022-09-18 12:16] #192 closed

[2022-09-19 08:27] Basavaraj-PN opened #194 "OSError: libcurand.so.10: cannot open shared object file: No such file or directory"
```docker run -it --network host --rm --runtime nvidia --gpus all dustynv/ros:foxy-pytorch-l4t-r32.6.1```

Image: foxy-pytorch-l4t-r32.6.1

```cat /etc/nv_tegra_release ```
R32 (release), REVISION: 6.1, GCID: 27863751, BOARD: t210ref, EABI: aarch64, DATE: Mon Jul 26 19:20:30 UTC 2021

```ls /usr/local/cuda/lib64```
```libacudavert.a libcudart_static.a stubs```

not found``` libcublas.so.10``` and

[2022-09-19 14:37] dusty-nv commented on #194
If you run `ls -ll /usr/local/cuda/lib64` outside of the container, are the libraries there?

It seems like your NVIDIA Runtime isn't mounting CUDA/ect into the container correctly.  They need to be installed on your device with JetPack.

[2022-09-19 14:40] Basavaraj-PN commented on #194
Yes they are there outside the container.

[2022-09-19 15:17] dusty-nv commented on #194
Do you have these files as well?

[code]

If it continues not working, you may want to re-install the NVIDIA container packages from apt, or re-flash your device.

[2022-09-19 15:23] Basavaraj-PN commented on #194
thanks you, what is the apt command to reinstall nvidia container package from apt?

[2022-09-19 15:25] dusty-nv commented on #194
Do an apt-cache search to identify the packages:

[code]

Then uninstall and re-install these

[2022-09-21 04:43] RobotBramhana commented on #194
I am also facing the same problem. I suspect that this occurs when we issue ```apt upgrade``` locally in jetson nano. Are there any specific versions for the above packages that should be installed (after/for downgrading)?

[2022-09-21 10:26] TZECHIN6 opened #195 "Trying to install ros2 humble desktop version in Jetson Xavier via Docker"
Hi Dusty, I just pull the pre-built docker and find out that it is a ros-base, not desktop version.

I found the Dockerfile you provided, is it simply changing the ARG ROS_PKG=ros_base >>> =desktop will do the job?

Thanks.

[2022-09-21 12:47] dusty-nv commented on #194
Hi @RobotBramhana, you can try this:  https://github.com/dusty-nv/jetson-containers/issues/108#issuecomment-995090398

[2022-09-21 12:48] Basavaraj-PN commented on #194
I will try to

[2022-09-21 12:50] dusty-nv commented on #195
Running `scripts/docker_build_ros.sh --distro humble --package desktop` will build it with desktop.  However I'm not sure if all the desktop packages will build or not.

[2022-09-22 03:30] TZECHIN6 commented on #195
Thanks dustynv, just tried to build with this command, and it took me several hours to build.

One think I find out is that an extra dock image was built `nvcr.io/nvidia/l4t-jetpack    r35.1.0    02d7eb2c1adb    6 weeks ago    10.4GB`. Is it normal?

Might I know why there is no an official desktop version of ROS has been pushed to dockerhub?

[2022-09-22 05:33] TZECHIN6 commented on #195
Update:

1. running `scripts/docker_build_ros.sh --distro humble --package desktop` can successfully build the image (haven't tested the overall completeness)
2. running `scripts/docker_build_ros.sh --distro foxy --package desktop` fail to build, below is the error code:
[code]
[code]
As I am trying to install a driver for LiDAR, not sure does it support ROS2 humble or not, at least the official d

[2022-09-22 13:39] dusty-nv commented on #195
That wasn't built, it was pulled from NVIDIA NGC container repository.  It's the base container that's used.

In the past the desktop version didn't build...I will try again on jetpack 5.x

[2022-09-22 13:40] dusty-nv commented on #195
It appears to be a network connection issue - you may want to try again

[2022-09-23 02:12] TZECHIN6 commented on #195
Thanks for your reply dusty-nv. Please try building desktop version again on JetPack 5.x, I will appreciate it! As I am now facing a issue that the LiDAR driver seem only works on desktop version.

One more question to ask, when I execute the script/docker, is it pointing to that Dockerfile.ros.{distro} for the build? So, I could modify dockerfile and re-use the build script?

[2022-09-23 04:35] TZECHIN6 commented on #195
After reading several documents, ROS2 galactic seem a better choice than foxy, therefore I choose to working with this distro for my proejct. However,...

Error occurs when running `./scripts/docker_build_ros.sh --distro galactic --package desktop`
[code]
A package called `qt_gui_cpp` is unable to build. Any suggestion for this? Thanks~

[2022-09-23 13:16] dusty-nv commented on #195
I get the same error on galactic and foxy, i haven't been able to figure it out.
I was able to get humble-desktop building for jetpack 5.x though.

[2022-09-23 13:23] dusty-nv commented on #195
I'm trying a patch similar to this for Foxy to see if that helps:

https://github.com/dusty-nv/jetson-containers/commit/1dad0ee1762359ec5b98a7d0a289a1ab3f99897d#diff-dead3dd0c4b0b9ec576fd4a6b423d0a545bf00351f51c626e089c7d2e3d06c53R133

[2022-09-23 14:48] dusty-nv commented on #195
OK, it appears to be building now with commit https://github.com/dusty-nv/jetson-containers/commit/37d18d587c784165e9810f1aa754ec603dbf193e

[2022-09-24 08:29] TZECHIN6 commented on #195
Yes, I was also having the situation as you mentioned, Humble can be built for JetPack R35.1.0, however, it is not compatible with my LiDAR hardware drivers... Sadly I cant use Humble in my current project.

[2022-09-24 08:30] TZECHIN6 commented on #195
I will definitely try it out now! Thanks, dustynv~

I will try to build it for ROS2 Galactic and will give feedback here.

[2022-09-24 14:06] dusty-nv commented on #195
@TZECHIN6 FYI I've uploaded Foxy/Galactic/Humble desktop container images for JetPack 5:

https://hub.docker.com/repository/registry-1.docker.io/dustynv/ros/tags?name=desktop
https://github.com/dusty-nv/jetson-containers

[2022-09-25 09:26] arun-kumark commented on #130
Hi,
the OpenCV is already installed on my device, but when I build the container, it throws error:

arun@arun:~/Documents/jetson-inference$ jetson_release
 - NVIDIA Jetson Xavier NX (Developer Kit Version)
   * Jetpack 4.6 [L4T 32.6.1]
   * NV Power Mode: MODE_20W_6CORE - Type: 8
   * jetson_stats.service: active
 - Libraries:
   * CUDA: 10.2.300
   * cuDNN: 8.2.1.32
   * TensorRT: 8.0.1.6
   * Vi

[2022-09-26 03:19] MrOCW opened #196 "Unable to run CUDA/tensorrt related operations using docker-compose"
Hi, I am able to run CUDA related applications when running the containers separately.
However, when using docker-compose to run the applications, I am getting errors like:
`error while loading shared libraries: libcuda.so.1: cannot open shared object file: No such file or directory`

`ImportError: libnvdla_compiler.so: cannot open shared object file: No such file or directory`

although `ls /usr/

[2022-09-26 04:36] MrOCW commented on #196
Apologies for the silly mistake, missed adding `"default-runtime": "nvidia"` to `etc/docker/daemon.json`

[2022-09-26 04:36] #196 closed

[2022-09-26 13:15] dusty-nv commented on #130
How are you running the container?   you need to use `--runtime nvidia` if you aren't already (the `scripts/docker_run.sh` script from this repo already does that)

[2022-09-29 06:58] TZECHIN6 commented on #195
Thx @dusty-nv I have tested out the Dockerfile, only the opencv part is not succesfull, other works great. Do you have idea why?

Btw, I am new to docker, if I want to use your image from a start point, and add something new on top of it. Is it possible? I saw other saying that I could create a Dockerfile like below:
[code]

If I plan to do so, do I still need to add back the ros_entrypoint.sh?

[

[2022-09-29 16:24] arun-kumark commented on #130
Sorry, I destroyed the setup. Need time to replicate it, please close as of now..

[2022-09-30 07:18] TZECHIN6 commented on #195
For OpenCV issue, the first time when I executed the build script there was an error (sorry for not logging down at that moment), however, I commented it out and built the docker image successfully, then rerun again the build script. This time I didn't comment the OpenCV part, it successfully run.... Not sure why..

If I remember correctly, the error was talking about fail to add KEY.

Thx dusty-n

[2022-09-30 09:29] TZECHIN6 commented on #195
One more "stupid" question:

For custom dockerfile with yours pre-built base image, instead of running the build script provided, a simple docker build -f dockerfile -t name would do the job?

[2022-09-30 13:25] dusty-nv commented on #195
Yes, you can use the simple command - my build script won't build your dockerfile.  That build script is setup build my dockerfile and sets a bunch of build variables based on the system environment that it detects.

[2022-10-05 13:57] peredwardsson commented on #194
If this is not true, and I run this script on a Jetson AGX Xavier, how do I install these libs?

[2022-10-05 15:13] dusty-nv commented on #194
You should be able to do `sudo apt-get install cuda-toolkit-*`

[2022-10-06 04:10] #195 closed

[2022-10-06 10:25] ntakouris commented on #7
I am having the same issue, while building upon nvcr.io/nvidia/l4t-base:r32.6.1, with custom built torchvision (for a jetson TX2 NX), will keep this posted.

[2022-10-11 09:08] dusty-nv commented on #179
Ahh okay, yes I would reflash
________________________________
From: chull434 ***@***.***>
Sent: Wednesday, August 10, 2022 10:45:27 AM
To: dusty-nv/jetson-containers ***@***.***>
Cc: Dustin Franklin ***@***.***>; Comment ***@***.***>
Subject: Re: [dusty-nv/jetson-containers] [Jetpack 4.4.1 - L4T 32.4.4] Import cv2 fails "ImportError: /usr/lib/aarch64-linux-gnu/libcublas.so.10: file too short" (Is

[2022-10-15 05:42] geyang opened #197 "LT4 35.x containers are significantly larger"
Dear maintainers,

I noticed that the container image size for the 35.x is a lot larger than the 32.x image.

[code]

Why is this the case?

Can we make the images smaller?

[2022-10-15 14:34] dusty-nv commented on #197
The reason is that on JetPack 5.x, that CUDA/cuDNN/TensorRT is installed into the containers directly, as opposed to being mounted from the device.   A lot of the container size comes from the l4t-jetpack base container that gets used on the JetPack 5.x container builds.

In theory you could switch to a smaller base container meant for deployment, however building the l4t-pytorch container current

[2022-10-18 22:44] Willis-Aero opened #198 "Activate Jupterlab On Child Image Of L4T-ML"
I changed the BASE_IMAGE of the Noetic ROS container to l4t-ml as referenced here:
https://github.com/dusty-nv/jetson-containers/issues/53

Parent image: l4t-ml:r32.7.1-py3
Child image: noetic-ros-base-l4t-r32.7.1-py3

Is there any way to activate Jupyterlab on the child image?
I'm having trouble adapting the docker run command to activate Jupyterlab on the child image.

It still works correctly o

[2022-10-19 14:02] dusty-nv commented on #198
Hi @Willis-Aero, the reason this happens, is that the ROS containers specify their own docker entrypoint, for setting up the ROS environment:

https://github.com/dusty-nv/jetson-containers/blob/eb2307d40f0884d66310e9ac34633a4c5ef2e083/Dockerfile.ros.noetic#L71

So it's that [`ros_entrypoint.sh`](https://github.com/dusty-nv/jetson-containers/blob/master/packages/ros_entrypoint.sh) command that gets

[2022-10-19 16:25] MAVProxyUser opened #199 "[realsense2_camera_node-1] [WARN] [...] [camera.camera]: No RealSense devices were found!"
Trying to get realsense working in the containers... I ran into this issue:
[code]

This was the fix.
[code]

For anyone else trying to get this working here are my notes:
[code]

I wound up here chasing iRobot Create 3 support options from: https://iroboteducation.github.io/create3_docs/setup/jetson/

[2022-10-19 17:02] Willis-Aero commented on #198
Thank you @dusty-nv for the assistance. The terminal command worked for activating jupyterlab in the container.

There is one last issue if you could help as the command results in an error:
No web browser found: could not locate runnable browser.

[2022-10-19 21:16] Willis-Aero commented on #198
@dusty-nv

Can l get assistance on the correct bash structure?

Line 11:

`
echo "ROS_DISTRO $ROS_DISTRO"

do
        jupyter lab --ip 0.0.0.0 --port 8888 --allow-root &> /var/log/jupyter.log
	echo "allow 10 sec for JupyterLab to start @ http://$(hostname -I | cut -d' ' -f1):8888 (password nvidia)"
	echo "JupterLab logging location:  /var/log/jupyter.log  (inside the container)"
done

exec "$@"
`

[2022-10-22 18:14] JonathanNash21 commented on #127
If I absolutely need a Python version that is 3.7 or higher, is there somewhere I can look to so that I properly rebuild all of the items needed? Or would simply editing the galactic pytorch dockerfile to install python 3.7 and have that set as default before all of the other packages are install work?

[2022-10-23 04:02] javadan opened #200 "TF 2.9 on Jetson Nano?"
Not an issue... But asking for advice.

I've got a Jetson Nano, with 4.6.2 jetpack.

I've encountered a bug in tensorflow2, which still isn't fixed in tf2.7. (the tf.data.Dataset.map function used in their tutorials is broken)

 I know it's fixed in tf 2.9.2, because that's the version the Google colab is using, and that works.

My options are to upgrade TF2, or to rewrite their functional code in

[2022-10-24 16:04] dusty-nv commented on #127
Hi @JonathanNash21, assuming you are on JetPack 4.x, then yes I would install the libpython3.7-dev packages in the container first and then set python3.7 as the default, before galactic gets built.

Note that this won't work for the pytorch stuff, because the pytorch wheels are all built for Python 3.6 on JetPack 4.x.  You would need to independently rebuild the pytorch wheel for Python 3.7, and t

[2022-10-25 07:18] TimSong412 opened #201 "opencv-python Gstreamer nvvidconv error"
When I use gstreamer to decode rtsp stream by opencv-python in docker image `foxy-pytorch-l4t-r35.1.0` , I can only use ordinary decoders rather than GPU-based decoder such as nvvidconv. But I can find such element in the cmd.

![image](https://user-images.githubusercontent.com/58266284/197707772-24067b0d-1c05-42c9-9faa-c82f04da7aff.png)
![image](https://user-images.githubusercontent.com/58266284/

[2022-10-25 07:38] TimSong412 commented on #201
![image](https://user-images.githubusercontent.com/58266284/197712439-c61304d9-21d0-4cbe-9a33-e4fe2787819c.png)
this is the error when using the ordinary deocoders

[2022-10-25 18:10] dusty-nv commented on #201
Hi @TimSong412, can you check that the NVIDIA GStreamer elements are found in the container?    I see them in `ros:foxy-pytorch-l4t-r35.1.0` when I check with gst-inspect-1.0:

[code]

[2022-10-26 03:52] TimSong412 commented on #201
Thanks. Yes they are available in the container. I found that there may be some conflicts with torch. After the torch is imported, such error occurs.
![image](https://user-images.githubusercontent.com/58266284/197929347-4e5094d1-e2bb-45f5-9f75-fe1530db7486.png)

`nvidia@ubuntu:~/matrix-autopilot-uav$ docker run -it --runtime nvidia --rm --net=host --privileged=true  -p 9001:9001/tcp -p 9004:9004/u

[2022-10-26 08:46] jarvinenemma commented on #177
Hi,

I added the line you suggested @dusty-nv and managed to proceed to Step 14/30. However, I get the following error:

`Step 14/30 : RUN git clone https://github.com/pytorch/vision torchvision &&     cd torchvision &&     git checkout ${TORCHVISION_VERSION} &&     python3 setup.py install &&     cd ../ &&     rm -rf torchvision
 ---> Running in d1a19ebfadc7
Cloning into 'torchvision'...
Note: ch

[2022-10-26 08:54] jarvinenemma opened #202 "Error in building ML-containers with L4T R32.7.2"
Hi,

I'm trying to build ml-containers using `./scripts/docker_build_ml.sh all` and have R32.7.2 in my Jetson Nano.

I added the line `BASE_IMAGE="nvcr.io/nvidia/l4t-base:r32.7.1"` in `jetson-containers/scripts/docker_base.sh` as you suggested.  I managed to proceed to Step 14/30 in order to build the ML-containers. However, in this step I get the following error:

`Step 14/30 : RUN git clone http

[2022-10-26 11:06] jarvinenemma commented on #202
Resolved the error using https://github.com/dusty-nv/jetson-containers/issues/108#issuecomment-995090398

Remember to restart docker after performing the aforementioned steps!
`sudo systemctl daemon-reload`
`sudo systemctl restart docker`

I'm trying to build the ML-containers again, and the error in Step 14 disappeared. I'll update this thread after the build completes.

[2022-10-26 12:57] jarvinenemma opened #203 "GStreamer warning: Cannot query video position: status=0, value=-1, duration=-1"
Hi,

I'm running this pre-built image `nvcr.io/nvidia/l4t-ml:r32.7.1-py3` with docker-compose. My `docker-compose.yaml` looks like this:
`version: '3.3'
services:
    nvidia:
        privileged: true
        build:
            context: .
            dockerfile: ./Dockerfile
            args:
                TAG: r32.7.1-py3
        container_name: local-container-v1
        volumes:
            -

[2022-10-26 14:14] jarvinenemma commented on #203
Managed to solve this problem. I used Flask app, and when running the app with `app.run(host="0.0.0.0",port=8080,debug=False)` , I was able to see the camera output correctly. So, if using Flask, make sure to set debug-parameter to False instead of True in order to see the output... Still not sure why debug-parameter fixed the problem but at least the app works fine now.

[2022-10-26 14:15] #203 closed

[2022-10-26 16:02] dusty-nv commented on #177
Hi @jarvinenemma, have you set your default docker runtime to nvidia?   See here:   https://github.com/dusty-nv/jetson-containers#docker-default-runtime

[2022-10-26 16:04] dusty-nv commented on #202
Hi @jarvinenemma, can you try adding a `RUN pip3 install --verbose scikit-build` before in the dockerfile?

[2022-10-26 17:34] javadan commented on #200
Thanks I think I found a workaround for 2.7

[2022-10-26 17:34] #200 closed

[2022-10-26 20:42] tsadarsh commented on #158
I have a similar error showing up when I try to `apt upgrade`. I am using the `dustynv/ros:foxy-ros-base-l4t-r35.1.0` image.
Purging the `opencv` does not seem to be the best option. I want to use the CUDA enabled OpenCV.

This did not work out either:

Here is the error that I am facing:
[code]

[2022-10-26 23:26] dusty-nv commented on #158
Hi @tsadarsh, can you try having apt-mark or dpkg hold/pin the package so it's not tried to be upgraded?   https://askubuntu.com/a/99780

[2022-10-27 06:55] jarvinenemma commented on #177
Hi @dusty-nv ,
Yes, I set the default runtime successfully. Managed to proceed to Step 16 as I've explained in https://github.com/dusty-nv/jetson-containers/issues/202#issuecomment-1291864970

Thanks for your reply! :)

[2022-10-27 06:56] jarvinenemma commented on #202
Thanks for the tip. I'll try that later today.

[2022-10-27 16:58] tsadarsh commented on #158
That should solve the problem. Thank you @dusty-nv for the help.

[2022-10-28 00:54] dtoopran opened #204 "Error installing cv_bridge package"
Hi I am using the pre-built image `dustynv/ros:noetic-pytorch-l4t-r34.1.1`. When I try to install cv_bridge with `apt-get install ros-noetic-cv-bridge`, it fails with this error:
`Errors were encountered while processing:
 /tmp/apt-dpkg-install-TOxRmc/48-libopencv_4.5.4-8-g3e4c170df4_arm64.deb
 /tmp/apt-dpkg-install-TOxRmc/70-libopencv-dev_4.5.4-8-g3e4c170df4_arm64.deb
E: Sub-process /usr/bin/dpkg

[2022-10-28 07:12] javadan commented on #156
@SkalskiP just following up...  Need to get python 3.7+ on a Nano (4.6.x) now, for pytorch with PIL.  Any quick solution yet? Or just leave it building? Thanks

[2022-10-28 15:09] dusty-nv commented on #156
@javadan if you can use Python 3.8, there is a PyTorch 1.7 wheel for Python 3.8 and Jetson Nano here:   https://forums.developer.nvidia.com/t/pytorch-for-jetson/72048/972

[2022-10-28 16:23] dusty-nv commented on #204
Hi @dtoopran, can you try uninstalling the existing opencv packages before installing cv-bridge?   `apt-get purge -y '*opencv*'`

See this thread also:  https://github.com/dusty-nv/jetson-containers/issues/158

[2022-10-28 17:32] dtoopran commented on #204
Yes, that works. But later if I try to `import cv2`, then we get this error: `ImportError: libopencv_intensity_transform.so.4.5: cannot open shared object file: No such file or directory` Do I have to reinstall the OpenCV packages?

[2022-10-28 21:27] dusty-nv commented on #204
You may want to uninstall/reinstall cv2, or install my original opencv packages again
________________________________
From: dtoopran ***@***.***>
Sent: Friday, October 28, 2022 1:32:16 PM
To: dusty-nv/jetson-containers ***@***.***>
Cc: Dustin Franklin ***@***.***>; Comment ***@***.***>
Subject: Re: [dusty-nv/jetson-containers] Error installing cv_bridge package (Issue #204)

Yes, that works. But

[2022-10-30 23:20] javadan commented on #156
Oh boy, so I worked out how to use that wheel, but now it seems I need at least torch 1.8, as

`from torchvision import transforms
`

leads to
[code]

It's always something.  Anyway, i'll try install pytorch 1.8 manually using @SkalskiP 's example for 1.7, next.  Thanks

[2022-10-31 08:41] SkalskiP commented on #156
@javadan I left my old company last week. So I won't be able to share the exact `Dockerfile` with you. But if you'd share what you have, I should be able to workout a solution with you :)

[2022-10-31 21:40] javadan commented on #156
Seems they stopped updating torch github branches past 1.7... and the official instructions requires conda, and archiconda doesn't have torch.  And the torch 1.8 wheels in the Jetson Zoo are python 3.6.  So actually not sure what to do, at this point.

[2022-11-01 15:45] dusty-nv commented on #156
Hi @javadan, you would need to build PyTorch 1.8 from source for Python 3.8 on JetPack 4.x - here's a post about doing that:   https://forums.developer.nvidia.com/t/install-pytorch-with-python-3-8-on-jetpack-4-4-1/160060/3

There are also some patches included in the `Build from Source` section of this post if you require them:  https://forums.developer.nvidia.com/t/pytorch-for-jetson/72048

[2022-11-02 05:32] YuJuChiu commented on #140
Hello, did you manage the issue?
I face the exact same problem as yours

[2022-11-02 05:33] YuJuChiu commented on #140
@gonzarub
Hello, did you manage the issue? I face the exact same problem as yours

[2022-11-02 14:14] dusty-nv commented on #204
@fettahyildizz here is how I install OpenCV+CUDA build in other containers:   https://github.com/dusty-nv/jetson-containers/blob/eb2307d40f0884d66310e9ac34633a4c5ef2e083/Dockerfile.pytorch#L157

There are scripts and pre-built binaries that do it so that you don't need to build it from source.   BTW the binaries URL for JetPack 5 is here:   https://github.com/dusty-nv/jetson-containers/blob/eb2307

[2022-11-03 08:57] fettahyildizz commented on #158
@tsadarsh Were you able to update and install rosdeps by not letting libopencv package to be upgraded?

[2022-11-04 17:35] tsadarsh commented on #158
Hi @fettahyildizz. I did not try doing it that way.

You could try working by pulling this image (note the **tag**):
```docker pull tsadarsh/jetson:nano```

Let me know if it solves your problem.

[2022-11-04 21:15] fettahyildizz commented on #158
Hello @tsadarsh, unfortunately our working environment is ROS Noetic. but thanks anyway. Could you provide your dockerfile so I can find out how you install cv2

[2022-11-04 22:12] tsadarsh commented on #158
Our goal was to have a container that had PyTorch (Python >= 3.8 and CUDA cores enabled) along with ROS 2 Foxy. @waaeem02 did a lot of work in compiling many packages from source.
It was basically a hit and trial approach. Compile, run, fix, repeat. Once we got all the necessary packages installed we pushed the image to DockerHub. Hence no Dockerfile was made.

I am sure @waseem02 can be of some h

[2022-11-10 10:52] jenamax opened #205 "ROS Humble build fail"
Hello! I am trying to build a docker container with ROS Humble on my PC with Ubuntu 18.04 by command ./scripts/docker_build_ros.sh --distro humble and get an error during the dependencies installation. Also before building I made one change - set the base image to nvcr.io/nvidia/l4t-base:r32.7.1 since in the future I want to use it on the board with l4t 32.7.2 (as I understood images for 32.7.1 ar

[2022-11-10 14:40] dusty-nv commented on #205
Hi @jenamax, this error/package doesn't typically happen - I am guessing it's related to building on x86.  Regardless, it won't work building it on x86 for Jetson like that - if you want it to be for aarch64, you would need to build it on Jetson.   For x86, I would just use one of the upstream ROS containers.

[2022-11-20 13:04] jenamax commented on #205
Hi! Now I am trying to build ROS Humble image on Jetson TX2. I have installed Jetpack 4.6.2 with l4t 32.7.2. And I got hte similar error:

[code]

[2022-11-21 14:13] dusty-nv commented on #205
You might want to try adding `rti-connext-dds` or similar to `--skip-keys`
I'm not exactly sure what the ros key for rti-connext-dds-6.0.1 is
The default RWM is cyclone but it seems to want to install rti-connext-dds too

[2022-11-25 14:51] ChaimLukasMaier-FDTech opened #206 "Humble container based on Jammy"
Hi,
I am trying to use ROS2 Humble inside of a docker container on a Jetson Xavier NX.

When downloading and running [dustynv/ros:humble-ros-base-l4t-r35.1.0](https://hub.docker.com/layers/dustynv/ros/humble-ros-base-l4t-r35.1.0/images/sha256-927ba32e701da41ee51e6b63989addc3d67a5938404a1dae9c7d1df996d835d8?context=explore) from docker hub, lsb_release -a tells me the image is 20.04 focal.
But the

[2022-11-25 19:43] dusty-nv commented on #206
You can get those from OSRF but they won't support GPU.   GPU support is provided via l4t-base / l4t-jetpack based containers which are using Ubuntu 20.04.   Hence I build Humble from source in these containers.  Other packages you may need to build from source as well.